html {
  font-size: 11px; /* Set base font size */
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: auto;
  flex-wrap: wrap;
  font-size: 1rem; /* 16pt = 1rem */
  background: #000000;
}

canvas {
  display: block;
}

body:hover {
  cursor: crosshair;
}

.right {
  height: 100vmin;
  width: calc(100% - 100vmin);
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

@media all and (orientation: portrait) {
  .right {
    height: calc(100% - 100vmin);
    width: 100vmin;
  }
}

/* Ensure consistent button padding */
.btn {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff18; /* Default background color */
  border: solid 2px #ffffff18; /* Default border color */
  border-left: solid 5px #006989; /* Blue left border */
  color: #fff; /* Text color */
  transition: border-left 0.3s ease;
  box-shadow: none;
}

/* Flex properties for the columns */
.col {
  flex: 1; /* Allow this column to take up remaining space */
  padding: 0px;
}

.col-auto {
  flex: 0 0 auto; /* Prevent this column from growing */
}

.jumbotron {
  height: 100%;
  background-color: #000000; /* Dark background color */
  color: #f8f9fa; /* Light text color */
  padding: 2rem 1rem;
  border-radius: 0px;
  width: 100%; /* Ensure it takes up full width of its container */
  overflow-y: auto;  /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling (optional) */
}
.jumbotron {
  max-height: 600px; /* Set a maximum height for the jumbotron */
  overflow-y: auto;  /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling (optional) */
  padding: 20px;     /* Adjust padding as needed */
  margin: 0;         /* Remove default margin */
}

.jumbotron h1,
.jumbotron p,
.jumbotron ul {
  color: #f8f9fa; /* Light text color */
}

.jumbotron hr {
  border: 0;
  height: 1px; /* Adjust the height of the line */
  background: #495057; /* Dark color that contrasts with the background */
  margin: 1rem 0; /* Adjust spacing around the line */
}

/* Ensure the buttons and jumbotron have space between them */
.btn-group-vertical {
  margin-bottom: 2rem;
}

/* Ensure all titles are aligned to the widest one */
.btn-title {
  flex: 0 0 auto;
  margin-right: 10px;
  white-space: nowrap;
  box-sizing: border-box;
  text-align: left;
}

/* Container for button content */
.btn-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

/* Input area styling */
.btn-input {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

/* Adjust input styling */
input, select {
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 10px;
}

/* Remove extra padding for color inputs */
input[type="color"] {
  padding: 0;
  width: 100%;
}

/* Form controls with normal font size */
input[type="number"], select, input[type="text"], textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Remove extra padding for small form controls */
.form-control-sm {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}

/* Primary button style */
.btn-primary-custom {
  background-color: #ffffff18; /* Default background color */
  border: solid 2px #ffffff18; /* Default border color */
  border-left: solid 5px #006989; /* Blue left border */
  color: #fff; /* Text color */
  transition: border-left 0.3s ease;
  box-shadow: none;
}

/* Hover and focus state for primary button */
.btn-primary-custom:hover,
.btn-primary-custom:focus {
  background-color: #ffffff18 !important; /* Maintain background color */
  border: solid 2px #ffffff18 !important; /* Maintain border color */
  border-left: solid 5px #006989 !important; /* Blue left border */
  color: #fff !important; /* Text color */
  box-shadow: none !important; /* Remove box shadow */
}

/* Optional: Define styles for active state */
.btn-primary-custom:active {
  background-color: #ffffff18 !important; /* Maintain background color */
  border-color: #ffffff18 !important; /* Maintain border color */
  border-left: solid 5px #006989 !important;
  box-shadow: none !important;
}

/* Secondary button style */
.btn-secondary-custom {
  background-color: #ffffff18; /* Default background color */
  border: solid 2px #ffffff18; /* Default border color */
  border-left: solid 2px #ffffff18; /* Default border-left */
  color: #fff; /* Text color */
  box-shadow: none !important;
}

/* Hover and focus state for secondary button */
.btn-secondary-custom:hover,
.btn-secondary-custom:focus {
  background-color: #ffffff18 !important; /* Maintain background color */
  border: solid 2px #ffffff18 !important; /* Maintain border color */
  box-shadow: none !important;
}

/* Optional: Define styles for active state for secondary button */
.btn-secondary-custom:active {
  background-color: #ffffff18 !important; /* Maintain background color */
  border-color: #ffffff18 !important; /* Maintain border color */
  box-shadow: none !important;
}

/* Logo */
.logo {
  border: 2px solid #ffffff18;
  width: 100%;
}


/* Social Media Links Styling */
.social-media {
  display: flex;
  justify-content: left; /* Center the icons horizontally */
  background-color: #000; /* Black background */
  padding: 1rem;
}

.social-icon svg{
  margin: 0 0.5rem; /* Space between icons */
  color: white; /* Icon color */
  fill: white;
  font-size: 24px; /* Icon size */
  transition: color 0.3s; /* Smooth transition for hover effect */
  vertical-align: middle;
}

.social-icon svg:hover{
  color: #ccc; /* Slightly lighter color on hover */
  fill: #ccc;
}

.instructions-list{
  padding-left: 25px; /* Remove left padding */
}
