.headertxt {
  align-self: stretch;
  position: relative;
  z-index: 0;
}
.lines {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.labeltxt {
  position: relative;
}
.points-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  color: #fff;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: #fff;
  height: 0.063rem;
  z-index: 2;
}
.x-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 4.062rem;
  gap: 4.687rem;
  z-index: 3;
  font-size: 0.75rem;
}
.num-input {
  width: 3.938rem;
  position: relative;
  background-color: #fff;
  height: 1.25rem;
  border: none;
}
.x-and-y-wrap {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  color: #fff;
}

.polar-coordinate {
  margin: 0;
}
.transform-wrap {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  z-index: 7;
  color: #fff;
}
.color-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
}

.color-sect {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.312rem;
}

.color-wrap {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  z-index: 10;
  color: #fff;
}

.settings {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.562rem;
  gap: 1.25rem;


}

.menu-wrapper {
  width: 100%;
  position: relative;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: left;
  font-size: 0.9rem;
  color: #888;
  font-family: Inter;
}

/* Sliders */
.slidecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.slider {
  -webkit-appearance: none;
  width: 4.188rem;;
  height: 1px;
  border-radius: 100px;
  background: #FFFFFF;
  outline: none;
  position: relative;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:15px;
  height:15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/* Select Menus */
select {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  margin-top: 10px;

  width: 4.5rem;
  position: relative;
  border-radius: 100px;
  height: 1.25rem;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}


/* Checkboxes */
.styled-checkbox {
  appearance: none;
  background-color: #000;
  border: 1px solid white;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.10rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0px;
}
.styled-checkbox:checked::before {
  content: '✔';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
}

/* Color Inputs */
.colorInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 21px;
  height: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  align-items: center;
}
.colorInput::-webkit-color-swatch {
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  padding: 0px;
  margin: 0px;
}
.colorInput::-moz-color-swatch {
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  padding: 0px;
  margin: 0px;
}


button:hover {
  background-color: #444;
}

#openButton{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
  backdrop-filter: blur(2px);
  position: absolute;
  margin: 15px;
}
#closeButton{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  width: 100%;
}

.column1{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 0.625rem; */
  height: 100%;
}

.column2{
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

.column3{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}
.column4{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 10px;
}

.row1{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  /* gap: 0.625rem; */
  height: 141px;
  width: 100%;
}

.borderright{
  padding: 0px 10px;
  border-right: 1px solid white;
}

.column-right{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  /* gap: 0.625rem; */
  height: 141px;
  gap: 0rem;
}

/* Social Media Links Styling */
.social-media {
  display: flex;
  justify-content: right; /* Center the icons horizontally */
  background-color: #000; /* Black background */
  padding: 0.5rem;
}

.social-icon svg{
  margin: 0 0.5rem; /* Space between icons */
  color: white; /* Icon color */
  fill: white;
  font-size: 24px; /* Icon size */
  transition: color 0.3s; /* Smooth transition for hover effect */
  vertical-align: middle;
}

.social-icon svg:hover{
  color: #ccc; /* Slightly lighter color on hover */
  fill: #ccc;
}

.info-right{
  position: absolute;
  right: 0;
  margin: 0px;
  width:auto;
  height:auto;
}
